<div class="prices">

  Here should be the prices on the current date
  <h3><%=Date.today %></h3>

  <%= @okko = 'Prices for okko' %>

<div id="fuelPrice">
	<h3>Ціни на пальне</h3>
	<ul>
		<li><div id="pulls95"><span>11.99</span></div></li>
		<li><div id="euro95"><span>11.19</span></div></li>
		<li><div id="fuela92"><span>10.78</span></div></li>
		<li><div id="fuela80"><span>10.24</span></div></li>
		<li><div id="pullsDiesel"><span>10.99</span></div></li>
		<li><div id="euroDiesel"><span>10.24</span></div></li>
		<li><div id="gaz"><span>6.33</span></div></li>
	</ul>
</div>


</div>